@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #e5e8ed;
    /* overflow-y: scroll !important;
    scroll-behavior: smooth;
    scroll-padding-top: 14rem;
    
    hello
    */
  }

  textarea {
    resize: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;

    background-image: url("/icons/arrowdown.svg");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 97% 50%;
  }

  select::-ms-expand {
    display: none !important;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center;
  }
  .modal-wrapper {
    @apply fixed inset-0 z-50 bg-black/50 flex-center justify-center px-4 w-full;
  }

  .modal {
    @apply bg-white rounded-lg px-9 pt-6 pb-12 md:min-w-[29rem];
  }
  .delete-modal {
    @apply bg-white rounded-lg px-9 pt-6 pb-12 max-w-[278px];
  }

  .modal-content {
    @apply max-h-[500px] md:max-h-[561px] overflow-y-scroll overflow-x-hidden relative;
  }

  .card-wrapper {
    @apply grid gap-x-3 gap-y-3 mt-2 w-full justify-center md:justify-start grid-cols-[repeat(auto-fill,_269px)];
  }

  .card-one-grid {
    @apply grid grid-cols-1 gap-2 mt-2 md:grid-cols-3 lg:grid-cols-4;
  }

  .input-field {
    @apply flex flex-col gap-1 [&>span]:text-sm [&>span]:font-medium [&>span]:text-gray-900;
  }

  .input {
    @apply p-4 w-full rounded-md border text-base placeholder:text-sm placeholder:text-gray-400 focus:outline-none border-[#D0D5DD] bg-white;
  }

  .input-2 {
    @apply p-2 overflow-hidden w-full rounded-md border text-base placeholder:text-sm placeholder:text-gray-400 focus:outline-none border-[#D0D5DD] bg-white;
  }

  .loaderWrapper {
    @apply !flex !items-center !justify-center w-full h-full;
  }

  .modal-btn-wrapper {
    @apply absolute bottom-0 pb-4 left-0 w-full px-9 flex justify-center bg-white;
  }

  .modal-btn {
    @apply capitalize px-6 py-4 bg-[#e77400] w-full max-w-[60%] !mx-auto text-white rounded-md;
  }
}

.ministry-departments-pagination li a {
  @apply bg-white px-4 py-2 rounded-md text-secondary-02 text-sm;
}

.ministry-departments-pagination li a[aria-current="page"] {
  @apply bg-orange text-white;
}

.im-new-page-inputs {
  @apply w-full outline-none focus:outline-none focus:ring-0 focus:border-zinc-300 rounded-md py-3 px-4 border border-zinc-300;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #084283;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
}

.btn-loader {
  @apply h-[25px] w-[25px] border-[2.8px] border-solid border-white border-b-transparent rounded-full inline-block box-border animate-spin;
}

.write-editor .ql-editor {
  @apply min-h-[200px];
}

.write-editor2 .ql-editor {
  @apply min-h-[100px];
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* *::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
} */

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  /* box-shadow: inset 0 0 0 10px; */
  @apply !bg-blue-800;
}

.scroll-style::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.scroll-style::-webkit-scrollbar-thumb {
  @apply !bg-blue-800;
}

.page_settings *::-webkit-scrollbar {
  display: none;
}

.page_settings * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
